*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  border: 0;
  font-family: "Inter", sans-serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-container,
.search-bar,
.content,
.movie-result-container,
.movie-result-info-container,
.movie-result-header,
.movie-result-details,
.movie-result-watchlist-add,
.watchlist-empty-container,
.watchlist-empty-subtitle-container,
.start-exploring {
  display: flex;
}

.header {
  padding: 5em 2.6em;
  position: relative;
  background-color: #292929;
}

.header h1,
.header a {
  z-index: 1000;
}

.header::before {
  content: "";
  position: absolute;
  background-color: black;
  background-image: url(/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -300px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 25%;
}

.header-container {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 0.6em;
}

.header-container-title {
  font-weight: 800;
  font-size: 2.5rem;
}

.header-container-watchlist {
  font-size: 1.5rem;
}

.header-container-watchlist:hover {
  cursor: pointer;
  color: #00be00;
}

.search-bar {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 91%;
  left: 0;
  right: 0;
}

.search,
.search-btn {
  height: 38px;
  border: 1px solid #d1d5db;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
}

.search {
  border-radius: 5px 0 0 5px;
  padding: 9px 5px 9px 38px;
  color: #6b7280;
  background: url("./search.png") no-repeat;
  background-size: 20px;
  background-position: 0.75em;
  background-color: white;
}

.search:focus {
  outline: none;
  background-color: #f1f1f1;
}

.search-btn {
  border-radius: 0 5px 5px 0;
  padding: 9px 20px;
  margin-left: -1px;
  color: #374151;
  background-color: #f9fafb;
}

.search-btn:hover {
  cursor: pointer;
  background-color: #e7e7e7;
}

.content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.start-exploring-icon {
  padding-top: 10em;
  width: 148px;
}

.movie-result-container {
  align-items: start;
  color: black;
  max-width: 600px;
  padding: 1em 1.6em;
  border-bottom: 1px solid #e5e7eb;
  gap: 1em;
}

.movie-result-poster {
  width: 100px;
}

.movie-result-info-container {
  flex-direction: column;
  gap: 0.4em;
}

.movie-result-header {
  align-items: center;
  gap: 0.4em;
}

.movie-result-title {
  font-size: 1rem;
}

.movie-result-star {
  width: 14px;
}

.movie-result-rating {
  font-size: 0.75rem;
}

.movie-result-details {
  align-items: center;
  font-size: 0.7rem;
  gap: 1em;
}

.movie-result-watchlist-add {
  gap: 0.4em;
}

.movie-result-watchlist-add > p,
img {
  pointer-events: none;
}

.movie-result-watchlist-add:hover {
  cursor: pointer;
  color: #00be00;
}

.remove:hover {
  color: #e40000;
}

.movie-result-watchlist-add-icon {
  width: 14px;
}

.movie-result-synopsis {
  font-size: 14px;
  color: #6b7280;
  line-height: 20px;
}

.start-exploring {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.watchlist-empty-container {
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 5em 2em;
  color: #c4c4c4;
  gap: 1.5em;
}

.watchlist-empty-title {
  line-height: 1.2em;
}

.watchlist-empty-subtitle-container {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.watchlist-empty-subtitle {
  color: #555555;
  font-weight: bold;
  font-size: 1.2rem;
}

.watchlist-empty-container a {
  cursor: pointer;
}

.add-to-list-icon {
  width: 50px;
  height: 50px;
}

.hide-content {
  display: none;
}

@media (min-width: 615px) {
  .header-container {
    flex-direction: row;
  }

  .header-container-title {
    font-size: 2.5rem;
  }

  .header-container-watchlist {
    font-size: 1.2rem;
  }
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }

  .start-exploring-icon {
    padding-top: 10em;
    width: 148px;
  }

  .movie-result-container {
    align-items: start;
    color: black;
    max-width: 600px;
    padding: 1em 1.6em;
    border-bottom: 1px solid #e5e7eb;
    gap: 1.5em;
  }

  .movie-result-poster {
    width: 120px;
  }

  .movie-result-title {
    font-size: 1.2rem;
  }

  .movie-result-star {
    width: 16px;
  }

  .movie-result-rating {
    font-size: 0.875rem;
  }

  .movie-result-details {
    font-size: 0.8rem;
    gap: 1em;
  }

  .movie-result-details img {
    width: 16px;
    height: 16px;
  }

  .movie-result-watchlist-add {
    gap: 8px;
  }
}
